<div class="container">
  <div class="row">
    <div class="col-xs-12 name">
      <h3>ievgen borodin<span class="tiny"> [portfolio]</span></h3>
    </div>
  </div>
  <div id="main-container">
  
  <div class="row row-block">      
  <!--  BANDSHELL   -->
    <div class="col-xs-12 col-lg-6 col-block">
      <span class="slidy-btn">
          <%= image_tag "slidy.png",class:"img-responsive" %>  
      </span>
      <div class="col-xs-3">
        <%= image_tag "bandshell.jpg", class: "img-responsive brad tpad tpad" %>
      </div>
      <div class="col-xs-9">        
        <h2>Bandshell Booking <%= link_to '&raquo; link'.html_safe, "http://bandshell.herokuapp.com/", class: "button bandshell-btn", target: "_blank" %></h2>
        <p class="lead bandshell-p">A show booking and promotions agency startup site with responsive design. <span class="langs">[ruby on rails, postgresql, heroku, javascript]</span></p>
      </div>
      <hr class="clr visible-xs visible-sm visible-md hidden-lg">    
      <div class="col-xs-12 slidy">
        <div class="row">
          <div class="col-xs-5">
            <%= image_tag "bandshell/1.jpg", class: "img-responsive" %>
          </div>
          <div class="col-xs-2">
            <%= image_tag "bandshell/2.jpg", class: "img-responsive" %>
          </div>
          <div class="col-xs-2">
            <%= image_tag "bandshell/3.jpg", class: "img-responsive" %>
          </div>
          <div class="col-xs-2">
            <%= image_tag "bandshell/4.jpg", class: "img-responsive" %>
          </div>
        </div>
      </div>
    </div>
  
  <!--  RACCOON   -->
    <div class="col-xs-12 col-lg-6 col-block lbor ">
      <span class="slidy-btn">
          <%= image_tag "slidy.png",class:"img-responsive" %>  
      </span>
      <div class="col-xs-3">
        <%= image_tag "raccoon.png", class: "img-responsive brad tpad tpad" %>
      </div>
      <div class="col-xs-9">
        <h2>Raccoon <%= link_to '&raquo; link'.html_safe, "http://feverart.com/", class: "button raccoon-btn", target: "_blank" %></h2>
        <p class="lead">2d browser-oriented arcade game with responsive design. <span class="langs">[canvas, javascript]</span></p>
      </div>
      <hr class="clr visible-xs visible-sm visible-md hidden-lg"> 
      <div class="col-xs-12 slidy">
        <div class="row">
          <div class="col-xs-5">
            <%= image_tag "raccoon/1.jpg", class: "img-responsive" %>
          </div>
          <div class="col-xs-3">
            <%= image_tag "raccoon/2.jpg", class: "img-responsive" %>
          </div>
          <div class="col-xs-3">
            <%= image_tag "raccoon/3.jpg", class: "img-responsive" %>
          </div>
        </div>
      </div>    
    </div>
    
    <!--separater-->
    <hr class="clr hidden-xs hidden-sm hidden-md visible-lg hr-bor">   
      
  <!--  GEMS   -->
    <div class="col-xs-12 col-lg-6 col-block ">
      <span class="slidy-btn">
          <%= image_tag "slidy.png",class:"img-responsive" %>  
      </span>
      <div class="col-xs-3">
        <%= image_tag "gems.jpg", class: "img-responsive brad tpad" %>
      </div>
      <div class="col-xs-9">
        <h2 class="gems-font">Gems <%= link_to '&raquo; link'.html_safe, "http://feverart.com/gems", class: "button gems-btn", target: "_blank" %>
        </h2>
        <p class="lead gems-p">Out of curiosity. Implementation of matrix for Diamonds. Supports touch events and mouse.<span class="langs">[canvas, javascript]</span></p>
      </div>
      <hr class="clr visible-xs visible-sm visible-md hidden-lg"> 
      <div class="col-xs-12 slidy">
        <div class="row">
          <div class="col-xs-6">
              <%= image_tag "gems/1.jpg", class: "img-responsive" %>
          </div>
          <div class="col-xs-6">
              <%= image_tag "gems/2.jpg", class: "img-responsive" %>
          </div>
        </div>
      </div> 
    </div> 
    
  <!--  Brush   -->
    <div class="col-xs-12 col-lg-6 col-block lbor ">
      <span class="slidy-btn">
          <%= image_tag "slidy.png",class:"img-responsive" %>  
      </span>
      <div class="col-xs-3">
        <%= image_tag "brush.jpg", class: "img-responsive brad tpad" %>
      </div>
      <div class="col-xs-9">
        <h2 class="gems-font">Live Brush <%= link_to '&raquo; link'.html_safe, "http://feverart.com/mybrushphp", class: "button brush-btn", target: "_blank" %></h2>
        <p class="lead gems-p">Browser oriented hybrid graphical app. Combines raster and object based drawing. Supports mouse and touch events. <span class="langs">[canvas, javascript, php]</span></p>
      </div>
      <hr class="clr visible-xs visible-sm visible-md hidden-lg"> 
      <div class="col-xs-12 slidy">
        <div class="row">
          <div class="col-xs-8">
            <div class="row">
              <div class="col-xs-6">
                  <%= image_tag "brush/1.jpg", class: "img-responsive" %>
              </div>
              <div class="col-xs-6">
                <%= image_tag "brush/2.jpg", class: "img-responsive" %>
              </div>
            </div>
          </div>
          <div class="col-xs-2">
            <%= image_tag "brush/3.jpg", class: "img-responsive" %>
          </div>
        </div>
      </div> 
    </div>
  </div>

    <!-- Utilities block -->  
    <div class="row parts-block">
      <h3 class="h3-parts">utilities</h3>
    </div>
    
  <div class="row row-block">
  <!--  Color Picker   -->
    <div class="col-xs-12 col-lg-6 col-block ">
      <span class="slidy-btn">
          <%= image_tag "slidy.png",class:"img-responsive" %>  
      </span>
      <div class="col-xs-3">
        <%= image_tag "color.jpg", class: "img-responsive brad tpad" %>
      </div>
      <div class="col-xs-9">
        <h2 class="colors-h2">Color Picker<%= link_to '&raquo; link'.html_safe, "http://feverart.com/mycolorpicker", class: "button colors-btn", target: "_blank" %></h2>
        <p class="lead gems-p">Select color using hue bar and saturation-value field or by entering hash code. Bottom block gives ten random colors. Supports mouse and touch events. <span class="langs">[javascript]</span></p>
      </div>
      <hr class="clr visible-xs visible-sm visible-md hidden-lg">
      <div class="col-xs-12 slidy">
        <div class="row">
          <div class="col-xs-6">
              <%= image_tag "picker/1.jpg", class: "img-responsive" %>
          </div>
          <div class="col-xs-3">
              <%= image_tag "picker/2.jpg", class: "img-responsive" %>
          </div>
          <div class="col-xs-3">
              <%= image_tag "picker/3.jpg", class: "img-responsive" %>
          </div>
        </div>
      </div>
    </div>  
        
  <!--  Tri   -->
  <div class="col-xs-12 col-lg-6 col-block lbor ">
    <span class="slidy-btn">
          <%= image_tag "slidy.png",class:"img-responsive" %>  
      </span>
    <div class="col-xs-3">
      <%= image_tag "tri.jpg", class: "img-responsive brad tpad" %>
    </div>
    <div class="col-xs-9">
      <h2 class="gems-font">Tri <%= link_to '&raquo; link'.html_safe, "http://feverart.com/mytri", class: "button tri-btn", target: "_blank" %></h2>
      <p class="lead gems-p">Image depth generator. Searches through the image for outlines, based on found colors builds depth. Use sample images or load your pictures. Supports mouse and touch events. <span class="langs">[canvas, javascript, php]</span></p>
    </div>
    <hr class="clr visible-xs visible-sm visible-md hidden-lg">
    <div class="col-xs-12 slidy">
        <div class="row">
          <div class="col-xs-5">
            <%= image_tag "tri/1.jpg", class: "img-responsive" %>
          </div>
          <div class="col-xs-3">
            <%= image_tag "tri/2.jpg", class: "img-responsive" %>
          </div>
          <div class="col-xs-3">
            <%= image_tag "tri/3.jpg", class: "img-responsive" %>
          </div>
        </div>
      </div>
  </div> 
        
    <!--separater-->
    <hr class="clr hidden-xs hidden-sm hidden-md visible-lg hr-bor">    
      
  <!--  BackGrid   -->
  <div class="col-xs-12 col-lg-6 col-block ">
    <span class="slidy-btn">
          <%= image_tag "slidy.png",class:"img-responsive" %>  
      </span>
    <div class="col-xs-3">
      <%= image_tag "backgrid.jpg", class: "img-responsive brad tpad backgrid-img" %>
    </div>
    <div class="col-xs-9">
      <h2 class="gems-font">BackGrid <%= link_to '&raquo; link'.html_safe, "http://feverart.com/mygrid", class: "button backgrid-btn", target: "_blank" %></h2>
      <p class="lead gems-p">Scalable background pattern tool. Helps to draw a grid / tile images. <span class="langs">[javascript, php]</span></p>
    </div>
    <hr class="clr visible-xs visible-sm visible-md hidden-lg"> 
    <div class="col-xs-12 slidy">
        <div class="row">
          <div class="col-xs-3">
              <%= image_tag "grid/1.jpg", class: "img-responsive" %>
          </div>
          <div class="col-xs-3">
              <%= image_tag "grid/2.jpg", class: "img-responsive" %>
          </div>
          <div class="col-xs-3">
              <%= image_tag "grid/3.jpg", class: "img-responsive" %>
          </div>
          <div class="col-xs-3">
              <%= image_tag "grid/4.jpg", class: "img-responsive" %>
          </div>
        </div>
      </div>
  </div>
 </div>        
    
  <!-- Parts block -->
  <div class="row parts-block">
    <h3 class="h3-parts">parts</h3>
 </div>

  <div class="row row-block">
   <!--  MONK   -->
  <div class="col-xs-12 col-lg-6 col-block">
    <span class="slidy-btn">
          <%= image_tag "slidy.png",class:"img-responsive" %>  
      </span>
    <div class="col-xs-3">
      <%= image_tag "monk-cover.jpg", class: "img-responsive brad tpad" %>
    </div>
    <div class="col-xs-9">
      <h2 class="gems-font">Monk <%= link_to '&raquo; link'.html_safe, "http://feverart.com/monk", class: "button monk-btn", target: "_blank" %></h2>
      <p class="lead gems-p">Base for 2d with side view arcade game. Supports keyboard and touches.<span class="langs">[html-canvas, javascript]</span></p>
    </div>
    <hr class="clr visible-xs visible-sm visible-md hidden-lg"> 
  </div>
                           
  <!--  Functions   -->
  <div class="col-xs-12 col-lg-6 col-block">
    <span class="slidy-btn">
          <%= image_tag "slidy.png",class:"img-responsive" %>  
      </span>
    <div class="col-xs-3">
      <%= image_tag "functions.jpg", class: "img-responsive brad tpad" %>
    </div>
    <div class="col-xs-9">
      <h2 class="gems-font">Functions <%= link_to '&raquo; link'.html_safe, "http://feverart.com/functions", class: "button func-btn", target: "_blank" %></h2>
      <p class="lead gems-p">Functions and their graphs </p>
    </div>
    <hr class="clr visible-xs visible-sm visible-md hidden-lg"> 
  </div>    
           
     <!--separater-->
    <hr class="clr hidden-xs hidden-sm hidden-md visible-lg hr-bor">   
      
  <!--  Lines   -->
  <div class="col-xs-12 col-lg-6 col-block">
    <span class="slidy-btn">
          <%= image_tag "slidy.png",class:"img-responsive" %>  
      </span>
    <div class="col-xs-3">
      <%= image_tag "lines.jpg", class: "img-responsive brad tpad" %>
    </div>
    <div class="col-xs-9">
      <h2 class="gems-font">Lines <%= link_to '&raquo; link'.html_safe, "http://feverart.com/lines", class: "button bandshell-btn", target: "_blank" %></h2>
      <p class="lead gems-p">Not finished yet. </p>
    </div>
    <hr class="clr visible-xs visible-sm visible-md hidden-lg"> 
  </div>
  </div>    
    
 </div>
</div>
